<!-- Error Modal -->
{% if error_message %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#ErrorModal").modal('show');
    });
  </script>
{% endif %}

<div id="ErrorModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fehler</h4>
      </div>
      <div class="modal-body">
        <p>{{error_message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
