{% extends "tim_app/base.html" %}

{% block content %}
{% include "tim_app/navbar.html" %}

<h1 class="top-buffer">
    TIM - Trouble Intervention Manager
</h1>

<h2 class="top-buffer">
    by Team Maleos
</h2>
<p>
    Kamil Balitzki,
    Maximilian Franke,
    Leonardo Hahn<br>
    Dora Szücs,
    Jessika Rockel,
    Thi Le Hai Tran <br>
    Andreas Oehlmann,
    Dominik Weichert,
    Paul Bahmann
</p>
<h3>
    TU Berlin
</h3>
<p>
    Straße des 17. Juni 135 <br>
    10623 Berlin
</p>
<h3>
    Kontakt:
</h3>
<p>
    Kamil Balitzki: kamil.balitzki [at] mail.tu-berlin.de
</p>

{% endblock %}