{% extends "tim_app/base.html" %}

{% block content %}
  {% include "tim_app/error_modal.html" %}

  {% load staticfiles %} 
  <div class="container">
    <h3>Ich suche...</h3>
    <form action="{% url 'tim_app:request' %}" role="form" method="post">
      {% csrf_token %}
      <!-- Icons -->
      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="optgood" value="water" onchange="disableOther(this)">
          <img src="{% static 'tim_app/img/water.png' %}" alt="wasser">
        </label>
        <label class="radio-inline">
          <input type="radio" name="optgood" value="food" onchange="disableOther(this)">
          <img src="{% static 'tim_app/img/food.png' %}" alt="nahrung">
        </label>
        <label class="radio-inline">
          <input type="radio" name="optgood" value="woundcare" onchange="disableOther(this)">
          <img src="{% static 'tim_app/img/woundcare.png' %}" alt="wundversorgung">
        </label>
        <label class="radio-inline">
          <input type="radio" name="optgood" value="clothes" onchange="disableOther(this)">
          <img src="{% static 'tim_app/img/clothes.png' %}" alt="kleidung">
        </label>
        <label class="radio-inline">
          <input type="radio" name="optgood" value="accomodation" onchange="disableOther(this)">
          <img src="{% static 'tim_app/img/accomodation.png' %}" alt="unterkunft">
        </label>
        <label class="radio-inline"> 
          <input type="radio" name="optgood" value="other" onchange="enableOther(this)">
          <img src="{% static 'tim_app/img/other.png' %}" alt="sonstiges">
        </label>
      </div>
      <!-- Sonstiges -->	
      <div class="form-group" id="otherField" style="display: none;">
        <label for="other">Sonstiges:</label>
        <input type="text" class="form-control" name="other" id="other" placeholder="Was bieten Sie an?">
      </div>
      <!-- Wie viel? -->		
      <div class="form-group">
        <label for="unit">Wie viel brauchen Sie?</label>
        <input type="integer" class="form-control" name="unit" id="unit" placeholder="Wie viel brauchen Sie?">
      </div>
      <!-- PLZ -->
      <div class="form-group">
        <label for="location">Wo?</label>
        <input type="integer" class="form-control" name="location" id="location"  placeholder="PLZ">
      </div>
      <!-- Dringlichkeit -->
      <div class="form-group">
        <label for="prio">Dringlichkeit</label>
        <br>
        <label class="radio-inline">
          <input type="radio" name="prio" value="1">1 Tag
        </label>
        <label class="radio-inline">
          <input type="radio" name="prio" value="2">2 Tage
        </label>
        <label class="radio-inline">
          <input type="radio" name="prio" value="3">3 Tage
        </label>
      </div>
      <button type="submit" class="btn btn-default">Abschicken</button>
      <button type="submit" class="btn btn-default">Abschicken und neue Anfrage</button>
    </form>
  </div>
  <script>
    function enableOther(cb) {
      if(cb.checked === true) {
        document.getElementById("otherField").style.display = "block";
      }
    }

    function disableOther(cb) {
      if(cb.checked === true) {
        document.getElementById("otherField").style.display = "none";
      }
    }
  </script>
{% endblock %}
